SoftWA/Connected Services/Carrito/Carrito.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Carrito" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Carrito?xsd=1" namespace="http://pedido.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdCarrito">
    <part name="parameters" element="tns:obtenerPorIdCarrito" />
  </message>
  <message name="obtenerPorIdCarritoResponse">
    <part name="parameters" element="tns:obtenerPorIdCarritoResponse" />
  </message>
  <message name="insertarCarrito">
    <part name="parameters" element="tns:insertarCarrito" />
  </message>
  <message name="insertarCarritoResponse">
    <part name="parameters" element="tns:insertarCarritoResponse" />
  </message>
  <message name="modificarCarrito">
    <part name="parameters" element="tns:modificarCarrito" />
  </message>
  <message name="modificarCarritoResponse">
    <part name="parameters" element="tns:modificarCarritoResponse" />
  </message>
  <message name="listarTodosCarrito">
    <part name="parameters" element="tns:listarTodosCarrito" />
  </message>
  <message name="listarTodosCarritoResponse">
    <part name="parameters" element="tns:listarTodosCarritoResponse" />
  </message>
  <message name="eliminarCarrito">
    <part name="parameters" element="tns:eliminarCarrito" />
  </message>
  <message name="eliminarCarritoResponse">
    <part name="parameters" element="tns:eliminarCarritoResponse" />
  </message>
  <portType name="Carrito">
    <operation name="obtenerPorIdCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/obtenerPorIdCarritoRequest" message="tns:obtenerPorIdCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/obtenerPorIdCarritoResponse" message="tns:obtenerPorIdCarritoResponse" />
    </operation>
    <operation name="insertarCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/insertarCarritoRequest" message="tns:insertarCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/insertarCarritoResponse" message="tns:insertarCarritoResponse" />
    </operation>
    <operation name="modificarCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/modificarCarritoRequest" message="tns:modificarCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/modificarCarritoResponse" message="tns:modificarCarritoResponse" />
    </operation>
    <operation name="listarTodosCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarTodosCarritoRequest" message="tns:listarTodosCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarTodosCarritoResponse" message="tns:listarTodosCarritoResponse" />
    </operation>
    <operation name="eliminarCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/eliminarCarritoRequest" message="tns:eliminarCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/eliminarCarritoResponse" message="tns:eliminarCarritoResponse" />
    </operation>
  </portType>
  <binding name="CarritoPortBinding" type="tns:Carrito">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Carrito">
    <port name="CarritoPort" binding="tns:CarritoPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Carrito" />
    </port>
  </service>
</definitions>