SoftWA/Connected Services/Rol/Rol.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://usuario.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Rol" targetNamespace="http://usuario.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Rol?xsd=1" namespace="http://usuario.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarRol">
    <part name="parameters" element="tns:insertarRol" />
  </message>
  <message name="insertarRolResponse">
    <part name="parameters" element="tns:insertarRolResponse" />
  </message>
  <message name="modificarRol">
    <part name="parameters" element="tns:modificarRol" />
  </message>
  <message name="modificarRolResponse">
    <part name="parameters" element="tns:modificarRolResponse" />
  </message>
  <message name="listarTodosRoles">
    <part name="parameters" element="tns:listarTodosRoles" />
  </message>
  <message name="listarTodosRolesResponse">
    <part name="parameters" element="tns:listarTodosRolesResponse" />
  </message>
  <message name="obtenerPorIdRol">
    <part name="parameters" element="tns:obtenerPorIdRol" />
  </message>
  <message name="obtenerPorIdRolResponse">
    <part name="parameters" element="tns:obtenerPorIdRolResponse" />
  </message>
  <portType name="Rol">
    <operation name="insertarRol">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Rol/insertarRolRequest" message="tns:insertarRol" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Rol/insertarRolResponse" message="tns:insertarRolResponse" />
    </operation>
    <operation name="modificarRol">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Rol/modificarRolRequest" message="tns:modificarRol" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Rol/modificarRolResponse" message="tns:modificarRolResponse" />
    </operation>
    <operation name="listarTodosRoles">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Rol/listarTodosRolesRequest" message="tns:listarTodosRoles" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Rol/listarTodosRolesResponse" message="tns:listarTodosRolesResponse" />
    </operation>
    <operation name="obtenerPorIdRol">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Rol/obtenerPorIdRolRequest" message="tns:obtenerPorIdRol" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Rol/obtenerPorIdRolResponse" message="tns:obtenerPorIdRolResponse" />
    </operation>
  </portType>
  <binding name="RolPortBinding" type="tns:Rol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosRoles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Rol">
    <port name="RolPort" binding="tns:RolPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Rol" />
    </port>
  </service>
</definitions>