SoftWA/Connected Services/DireccionWSClient/Direccion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usuario.services.softprog.pucp.edu.pe/" targetNamespace="http://usuario.services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarDireccion" type="tns:eliminarDireccion" />
  <xs:element name="eliminarDireccionResponse" type="tns:eliminarDireccionResponse" />
  <xs:element name="insertarDireccion" type="tns:insertarDireccion" />
  <xs:element name="insertarDireccionResponse" type="tns:insertarDireccionResponse" />
  <xs:element name="listarTodosDireccion" type="tns:listarTodosDireccion" />
  <xs:element name="listarTodosDireccionResponse" type="tns:listarTodosDireccionResponse" />
  <xs:element name="modificarDireccion" type="tns:modificarDireccion" />
  <xs:element name="modificarDireccionResponse" type="tns:modificarDireccionResponse" />
  <xs:element name="obtenerPorIdDireccion" type="tns:obtenerPorIdDireccion" />
  <xs:element name="obtenerPorIdDireccionResponse" type="tns:obtenerPorIdDireccionResponse" />
  <xs:complexType name="insertarDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="tns:direccionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="direccionDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="alias" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="personaId" type="tns:personaDTO" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="personaDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="direcciones" nillable="true" type="tns:direccionDTO" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDireccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdDireccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:direccionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="tns:direccionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDireccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="tns:direccionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDireccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosDireccion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosDireccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:direccionDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>