SoftWA/Connected Services/Producto/Productos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://producto.services.softprog.pucp.edu.pe/" targetNamespace="http://producto.services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarProducto" type="tns:eliminarProducto" />
  <xs:element name="eliminarProductoResponse" type="tns:eliminarProductoResponse" />
  <xs:element name="insertarProducto" type="tns:insertarProducto" />
  <xs:element name="insertarProductoResponse" type="tns:insertarProductoResponse" />
  <xs:element name="listarTodosProducto" type="tns:listarTodosProducto" />
  <xs:element name="listarTodosProductoResponse" type="tns:listarTodosProductoResponse" />
  <xs:element name="modificarProducto" type="tns:modificarProducto" />
  <xs:element name="modificarProductoResponse" type="tns:modificarProductoResponse" />
  <xs:element name="obtenerPorIdProducto" type="tns:obtenerPorIdProducto" />
  <xs:element name="obtenerPorIdProductoResponse" type="tns:obtenerPorIdProductoResponse" />
  <xs:complexType name="obtenerPorIdProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="preciosPorPresentaciones" nillable="true" type="tns:precioPresentacionDTO" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="precioPresentacionDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idPrecioPresentacion" type="xs:int" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="tipoMedida" type="tns:tipoMedida" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DECENA" />
      <xs:enumeration value="DOCENA" />
      <xs:enumeration value="CENTENA" />
      <xs:enumeration value="MILLAR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>