SoftWA/Connected Services/Producto/Productos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://producto.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Productos" targetNamespace="http://producto.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Productos?xsd=1" namespace="http://producto.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="modificarProducto">
    <part name="parameters" element="tns:modificarProducto" />
  </message>
  <message name="modificarProductoResponse">
    <part name="parameters" element="tns:modificarProductoResponse" />
  </message>
  <message name="obtenerPorIdProducto">
    <part name="parameters" element="tns:obtenerPorIdProducto" />
  </message>
  <message name="obtenerPorIdProductoResponse">
    <part name="parameters" element="tns:obtenerPorIdProductoResponse" />
  </message>
  <message name="listarTodosProducto">
    <part name="parameters" element="tns:listarTodosProducto" />
  </message>
  <message name="listarTodosProductoResponse">
    <part name="parameters" element="tns:listarTodosProductoResponse" />
  </message>
  <portType name="Productos">
    <operation name="insertarProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
    <operation name="modificarProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/modificarProductoRequest" message="tns:modificarProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/modificarProductoResponse" message="tns:modificarProductoResponse" />
    </operation>
    <operation name="obtenerPorIdProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/obtenerPorIdProductoRequest" message="tns:obtenerPorIdProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/obtenerPorIdProductoResponse" message="tns:obtenerPorIdProductoResponse" />
    </operation>
    <operation name="listarTodosProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarTodosProductoRequest" message="tns:listarTodosProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarTodosProductoResponse" message="tns:listarTodosProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductosPortBinding" type="tns:Productos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Productos">
    <port name="ProductosPort" binding="tns:ProductosPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Productos" />
    </port>
  </service>
</definitions>