SoftWA/Connected Services/ServiciosWSClient/Administrador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usuario.services.softprog.pucp.edu.pe/" targetNamespace="http://usuario.services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarAdministrador" type="tns:eliminarAdministrador" />
  <xs:element name="eliminarAdministradorResponse" type="tns:eliminarAdministradorResponse" />
  <xs:element name="insertarAdministrador" type="tns:insertarAdministrador" />
  <xs:element name="insertarAdministradorResponse" type="tns:insertarAdministradorResponse" />
  <xs:element name="listarTodosAdministrador" type="tns:listarTodosAdministrador" />
  <xs:element name="listarTodosAdministradorResponse" type="tns:listarTodosAdministradorResponse" />
  <xs:element name="modificarAdministrador" type="tns:modificarAdministrador" />
  <xs:element name="modificarAdministradorResponse" type="tns:modificarAdministradorResponse" />
  <xs:element name="obtenerPorIdAdministrador" type="tns:obtenerPorIdAdministrador" />
  <xs:element name="obtenerPorIdAdministradorResponse" type="tns:obtenerPorIdAdministradorResponse" />
  <xs:complexType name="obtenerPorIdAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administradorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:administradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administradorDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="cargo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="ultimoIngreso" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosAdministrador">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>