SoftWA/Connected Services/ServiciosWSClient/Administrador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://usuario.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Administrador" targetNamespace="http://usuario.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Administrador?xsd=1" namespace="http://usuario.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarAdministrador">
    <part name="parameters" element="tns:insertarAdministrador" />
  </message>
  <message name="insertarAdministradorResponse">
    <part name="parameters" element="tns:insertarAdministradorResponse" />
  </message>
  <message name="modificarAdministrador">
    <part name="parameters" element="tns:modificarAdministrador" />
  </message>
  <message name="modificarAdministradorResponse">
    <part name="parameters" element="tns:modificarAdministradorResponse" />
  </message>
  <message name="eliminarAdministrador">
    <part name="parameters" element="tns:eliminarAdministrador" />
  </message>
  <message name="eliminarAdministradorResponse">
    <part name="parameters" element="tns:eliminarAdministradorResponse" />
  </message>
  <message name="obtenerPorIdAdministrador">
    <part name="parameters" element="tns:obtenerPorIdAdministrador" />
  </message>
  <message name="obtenerPorIdAdministradorResponse">
    <part name="parameters" element="tns:obtenerPorIdAdministradorResponse" />
  </message>
  <message name="listarTodosAdministrador">
    <part name="parameters" element="tns:listarTodosAdministrador" />
  </message>
  <message name="listarTodosAdministradorResponse">
    <part name="parameters" element="tns:listarTodosAdministradorResponse" />
  </message>
  <portType name="Administrador">
    <operation name="insertarAdministrador">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/insertarAdministradorRequest" message="tns:insertarAdministrador" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/insertarAdministradorResponse" message="tns:insertarAdministradorResponse" />
    </operation>
    <operation name="modificarAdministrador">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/modificarAdministradorRequest" message="tns:modificarAdministrador" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/modificarAdministradorResponse" message="tns:modificarAdministradorResponse" />
    </operation>
    <operation name="eliminarAdministrador">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/eliminarAdministradorRequest" message="tns:eliminarAdministrador" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/eliminarAdministradorResponse" message="tns:eliminarAdministradorResponse" />
    </operation>
    <operation name="obtenerPorIdAdministrador">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/obtenerPorIdAdministradorRequest" message="tns:obtenerPorIdAdministrador" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/obtenerPorIdAdministradorResponse" message="tns:obtenerPorIdAdministradorResponse" />
    </operation>
    <operation name="listarTodosAdministrador">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/listarTodosAdministradorRequest" message="tns:listarTodosAdministrador" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Administrador/listarTodosAdministradorResponse" message="tns:listarTodosAdministradorResponse" />
    </operation>
  </portType>
  <binding name="AdministradorPortBinding" type="tns:Administrador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Administrador">
    <port name="AdministradorPort" binding="tns:AdministradorPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Administrador" />
    </port>
  </service>
</definitions>