SoftWA/Connected Services/ServiciosWSClient/Carrito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCarrito" type="tns:eliminarCarrito" />
  <xs:element name="eliminarCarritoResponse" type="tns:eliminarCarritoResponse" />
  <xs:element name="insertarCarrito" type="tns:insertarCarrito" />
  <xs:element name="insertarCarritoResponse" type="tns:insertarCarritoResponse" />
  <xs:element name="listarCarritoInactivos" type="tns:listarCarritoInactivos" />
  <xs:element name="listarCarritoInactivosResponse" type="tns:listarCarritoInactivosResponse" />
  <xs:element name="listarCarritoPersonaTodos" type="tns:listarCarritoPersonaTodos" />
  <xs:element name="listarCarritoPersonaTodosResponse" type="tns:listarCarritoPersonaTodosResponse" />
  <xs:element name="listarCarritoPorPersona" type="tns:listarCarritoPorPersona" />
  <xs:element name="listarCarritoPorPersonaResponse" type="tns:listarCarritoPorPersonaResponse" />
  <xs:element name="listarCarritoPorRangoFechaCreacion" type="tns:listarCarritoPorRangoFechaCreacion" />
  <xs:element name="listarCarritoPorRangoFechaCreacionResponse" type="tns:listarCarritoPorRangoFechaCreacionResponse" />
  <xs:element name="listarCarritoPorRangoTotal" type="tns:listarCarritoPorRangoTotal" />
  <xs:element name="listarCarritoPorRangoTotalResponse" type="tns:listarCarritoPorRangoTotalResponse" />
  <xs:element name="listarCarritoPorUsuarioCreacion" type="tns:listarCarritoPorUsuarioCreacion" />
  <xs:element name="listarCarritoPorUsuarioCreacionResponse" type="tns:listarCarritoPorUsuarioCreacionResponse" />
  <xs:element name="listarTodosCarrito" type="tns:listarTodosCarrito" />
  <xs:element name="listarTodosCarritoResponse" type="tns:listarTodosCarritoResponse" />
  <xs:element name="modificarCarrito" type="tns:modificarCarrito" />
  <xs:element name="modificarCarritoResponse" type="tns:modificarCarritoResponse" />
  <xs:element name="obtenerPorIdCarrito" type="tns:obtenerPorIdCarrito" />
  <xs:element name="obtenerPorIdCarritoResponse" type="tns:obtenerPorIdCarritoResponse" />
  <xs:element name="vaciarCarrito" type="tns:vaciarCarrito" />
  <xs:element name="vaciarCarritoResponse" type="tns:vaciarCarritoResponse" />
  <xs:complexType name="listarCarritoInactivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCarritoInactivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:itemCarritoDTO" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDTO" />
      <xs:element name="total" type="xs:double" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="itemCarritoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="carrito" type="tns:carritoDTO" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idItemCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="preciosPorPresentaciones" nillable="true" type="tns:precioPresentacionDTO" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="precioPresentacionDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idPrecioPresentacion" type="xs:int" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="tipoMedida" type="tns:tipoMedida" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="direcciones" nillable="true" type="tns:direccionDTO" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="direccionDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="alias" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="personaId" type="tns:personaDTO" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPersonaTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPersonaTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPorRangoTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="montoMinimo" type="xs:double" />
      <xs:element minOccurs="0" name="montoMaximo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPorRangoTotalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="carrito" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPorRangoFechaCreacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPorRangoFechaCreacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPorPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPorPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="carrito" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosCarrito">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="carrito" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPorUsuarioCreacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuarioCreacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCarritoPorUsuarioCreacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vaciarCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vaciarCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DECENA" />
      <xs:enumeration value="DOCENA" />
      <xs:enumeration value="CENTENA" />
      <xs:enumeration value="MILLAR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>