SoftWA/Connected Services/ServiciosWSClient/Carrito.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Carrito" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Carrito?xsd=1" namespace="http://pedido.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="vaciarCarrito">
    <part name="parameters" element="tns:vaciarCarrito" />
  </message>
  <message name="vaciarCarritoResponse">
    <part name="parameters" element="tns:vaciarCarritoResponse" />
  </message>
  <message name="insertarCarrito">
    <part name="parameters" element="tns:insertarCarrito" />
  </message>
  <message name="insertarCarritoResponse">
    <part name="parameters" element="tns:insertarCarritoResponse" />
  </message>
  <message name="listarTodosCarrito">
    <part name="parameters" element="tns:listarTodosCarrito" />
  </message>
  <message name="listarTodosCarritoResponse">
    <part name="parameters" element="tns:listarTodosCarritoResponse" />
  </message>
  <message name="modificarCarrito">
    <part name="parameters" element="tns:modificarCarrito" />
  </message>
  <message name="modificarCarritoResponse">
    <part name="parameters" element="tns:modificarCarritoResponse" />
  </message>
  <message name="eliminarCarrito">
    <part name="parameters" element="tns:eliminarCarrito" />
  </message>
  <message name="eliminarCarritoResponse">
    <part name="parameters" element="tns:eliminarCarritoResponse" />
  </message>
  <message name="listarCarritoPorPersona">
    <part name="parameters" element="tns:listarCarritoPorPersona" />
  </message>
  <message name="listarCarritoPorPersonaResponse">
    <part name="parameters" element="tns:listarCarritoPorPersonaResponse" />
  </message>
  <message name="listarCarritoPersonaTodos">
    <part name="parameters" element="tns:listarCarritoPersonaTodos" />
  </message>
  <message name="listarCarritoPersonaTodosResponse">
    <part name="parameters" element="tns:listarCarritoPersonaTodosResponse" />
  </message>
  <message name="listarCarritoInactivos">
    <part name="parameters" element="tns:listarCarritoInactivos" />
  </message>
  <message name="listarCarritoInactivosResponse">
    <part name="parameters" element="tns:listarCarritoInactivosResponse" />
  </message>
  <message name="listarCarritoPorRangoTotal">
    <part name="parameters" element="tns:listarCarritoPorRangoTotal" />
  </message>
  <message name="listarCarritoPorRangoTotalResponse">
    <part name="parameters" element="tns:listarCarritoPorRangoTotalResponse" />
  </message>
  <message name="obtenerPorIdCarrito">
    <part name="parameters" element="tns:obtenerPorIdCarrito" />
  </message>
  <message name="obtenerPorIdCarritoResponse">
    <part name="parameters" element="tns:obtenerPorIdCarritoResponse" />
  </message>
  <message name="listarCarritoPorRangoFechaCreacion">
    <part name="parameters" element="tns:listarCarritoPorRangoFechaCreacion" />
  </message>
  <message name="listarCarritoPorRangoFechaCreacionResponse">
    <part name="parameters" element="tns:listarCarritoPorRangoFechaCreacionResponse" />
  </message>
  <message name="listarCarritoPorUsuarioCreacion">
    <part name="parameters" element="tns:listarCarritoPorUsuarioCreacion" />
  </message>
  <message name="listarCarritoPorUsuarioCreacionResponse">
    <part name="parameters" element="tns:listarCarritoPorUsuarioCreacionResponse" />
  </message>
  <portType name="Carrito">
    <operation name="vaciarCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/vaciarCarritoRequest" message="tns:vaciarCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/vaciarCarritoResponse" message="tns:vaciarCarritoResponse" />
    </operation>
    <operation name="insertarCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/insertarCarritoRequest" message="tns:insertarCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/insertarCarritoResponse" message="tns:insertarCarritoResponse" />
    </operation>
    <operation name="listarTodosCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarTodosCarritoRequest" message="tns:listarTodosCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarTodosCarritoResponse" message="tns:listarTodosCarritoResponse" />
    </operation>
    <operation name="modificarCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/modificarCarritoRequest" message="tns:modificarCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/modificarCarritoResponse" message="tns:modificarCarritoResponse" />
    </operation>
    <operation name="eliminarCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/eliminarCarritoRequest" message="tns:eliminarCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/eliminarCarritoResponse" message="tns:eliminarCarritoResponse" />
    </operation>
    <operation name="listarCarritoPorPersona">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPorPersonaRequest" message="tns:listarCarritoPorPersona" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPorPersonaResponse" message="tns:listarCarritoPorPersonaResponse" />
    </operation>
    <operation name="listarCarritoPersonaTodos">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPersonaTodosRequest" message="tns:listarCarritoPersonaTodos" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPersonaTodosResponse" message="tns:listarCarritoPersonaTodosResponse" />
    </operation>
    <operation name="listarCarritoInactivos">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoInactivosRequest" message="tns:listarCarritoInactivos" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoInactivosResponse" message="tns:listarCarritoInactivosResponse" />
    </operation>
    <operation name="listarCarritoPorRangoTotal">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPorRangoTotalRequest" message="tns:listarCarritoPorRangoTotal" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPorRangoTotalResponse" message="tns:listarCarritoPorRangoTotalResponse" />
    </operation>
    <operation name="obtenerPorIdCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/obtenerPorIdCarritoRequest" message="tns:obtenerPorIdCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/obtenerPorIdCarritoResponse" message="tns:obtenerPorIdCarritoResponse" />
    </operation>
    <operation name="listarCarritoPorRangoFechaCreacion">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPorRangoFechaCreacionRequest" message="tns:listarCarritoPorRangoFechaCreacion" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPorRangoFechaCreacionResponse" message="tns:listarCarritoPorRangoFechaCreacionResponse" />
    </operation>
    <operation name="listarCarritoPorUsuarioCreacion">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPorUsuarioCreacionRequest" message="tns:listarCarritoPorUsuarioCreacion" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Carrito/listarCarritoPorUsuarioCreacionResponse" message="tns:listarCarritoPorUsuarioCreacionResponse" />
    </operation>
  </portType>
  <binding name="CarritoPortBinding" type="tns:Carrito">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="vaciarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCarritoPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCarritoPersonaTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCarritoInactivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCarritoPorRangoTotal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCarritoPorRangoFechaCreacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCarritoPorUsuarioCreacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Carrito">
    <port name="CarritoPort" binding="tns:CarritoPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Carrito" />
    </port>
  </service>
</definitions>