SoftWA/Connected Services/ServiciosWSClient/Comprobante.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Comprobante" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Comprobante?xsd=1" namespace="http://pedido.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarComprobantePorTipo">
    <part name="parameters" element="tns:listarComprobantePorTipo" />
  </message>
  <message name="listarComprobantePorTipoResponse">
    <part name="parameters" element="tns:listarComprobantePorTipoResponse" />
  </message>
  <message name="listarComprobanteInactivo">
    <part name="parameters" element="tns:listarComprobanteInactivo" />
  </message>
  <message name="listarComprobanteInactivoResponse">
    <part name="parameters" element="tns:listarComprobanteInactivoResponse" />
  </message>
  <message name="insertarComprobante">
    <part name="parameters" element="tns:insertarComprobante" />
  </message>
  <message name="insertarComprobanteResponse">
    <part name="parameters" element="tns:insertarComprobanteResponse" />
  </message>
  <message name="obtenerPorIdComprobante">
    <part name="parameters" element="tns:obtenerPorIdComprobante" />
  </message>
  <message name="obtenerPorIdComprobanteResponse">
    <part name="parameters" element="tns:obtenerPorIdComprobanteResponse" />
  </message>
  <message name="listarTodosComprobante">
    <part name="parameters" element="tns:listarTodosComprobante" />
  </message>
  <message name="listarTodosComprobanteResponse">
    <part name="parameters" element="tns:listarTodosComprobanteResponse" />
  </message>
  <message name="modificarComprobante">
    <part name="parameters" element="tns:modificarComprobante" />
  </message>
  <message name="modificarComprobanteResponse">
    <part name="parameters" element="tns:modificarComprobanteResponse" />
  </message>
  <message name="listarComprobantePedido">
    <part name="parameters" element="tns:listarComprobantePedido" />
  </message>
  <message name="listarComprobantePedidoResponse">
    <part name="parameters" element="tns:listarComprobantePedidoResponse" />
  </message>
  <message name="eliminarComprobante">
    <part name="parameters" element="tns:eliminarComprobante" />
  </message>
  <message name="eliminarComprobanteResponse">
    <part name="parameters" element="tns:eliminarComprobanteResponse" />
  </message>
  <message name="listarComprobanteUsuarioCreacion">
    <part name="parameters" element="tns:listarComprobanteUsuarioCreacion" />
  </message>
  <message name="listarComprobanteUsuarioCreacionResponse">
    <part name="parameters" element="tns:listarComprobanteUsuarioCreacionResponse" />
  </message>
  <message name="listarComprobanteRangoTotal">
    <part name="parameters" element="tns:listarComprobanteRangoTotal" />
  </message>
  <message name="listarComprobanteRangoTotalResponse">
    <part name="parameters" element="tns:listarComprobanteRangoTotalResponse" />
  </message>
  <message name="listarComprobantePedidosTodos">
    <part name="parameters" element="tns:listarComprobantePedidosTodos" />
  </message>
  <message name="listarComprobantePedidosTodosResponse">
    <part name="parameters" element="tns:listarComprobantePedidosTodosResponse" />
  </message>
  <message name="listarComprobanteRangoFecha">
    <part name="parameters" element="tns:listarComprobanteRangoFecha" />
  </message>
  <message name="listarComprobanteRangoFechaResponse">
    <part name="parameters" element="tns:listarComprobanteRangoFechaResponse" />
  </message>
  <message name="listarComprobanteNumeroSerie">
    <part name="parameters" element="tns:listarComprobanteNumeroSerie" />
  </message>
  <message name="listarComprobanteNumeroSerieResponse">
    <part name="parameters" element="tns:listarComprobanteNumeroSerieResponse" />
  </message>
  <portType name="Comprobante">
    <operation name="listarComprobantePorTipo">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobantePorTipoRequest" message="tns:listarComprobantePorTipo" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobantePorTipoResponse" message="tns:listarComprobantePorTipoResponse" />
    </operation>
    <operation name="listarComprobanteInactivo">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteInactivoRequest" message="tns:listarComprobanteInactivo" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteInactivoResponse" message="tns:listarComprobanteInactivoResponse" />
    </operation>
    <operation name="insertarComprobante">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/insertarComprobanteRequest" message="tns:insertarComprobante" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/insertarComprobanteResponse" message="tns:insertarComprobanteResponse" />
    </operation>
    <operation name="obtenerPorIdComprobante">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/obtenerPorIdComprobanteRequest" message="tns:obtenerPorIdComprobante" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/obtenerPorIdComprobanteResponse" message="tns:obtenerPorIdComprobanteResponse" />
    </operation>
    <operation name="listarTodosComprobante">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarTodosComprobanteRequest" message="tns:listarTodosComprobante" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarTodosComprobanteResponse" message="tns:listarTodosComprobanteResponse" />
    </operation>
    <operation name="modificarComprobante">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/modificarComprobanteRequest" message="tns:modificarComprobante" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/modificarComprobanteResponse" message="tns:modificarComprobanteResponse" />
    </operation>
    <operation name="listarComprobantePedido">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobantePedidoRequest" message="tns:listarComprobantePedido" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobantePedidoResponse" message="tns:listarComprobantePedidoResponse" />
    </operation>
    <operation name="eliminarComprobante">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/eliminarComprobanteRequest" message="tns:eliminarComprobante" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/eliminarComprobanteResponse" message="tns:eliminarComprobanteResponse" />
    </operation>
    <operation name="listarComprobanteUsuarioCreacion">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteUsuarioCreacionRequest" message="tns:listarComprobanteUsuarioCreacion" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteUsuarioCreacionResponse" message="tns:listarComprobanteUsuarioCreacionResponse" />
    </operation>
    <operation name="listarComprobanteRangoTotal">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteRangoTotalRequest" message="tns:listarComprobanteRangoTotal" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteRangoTotalResponse" message="tns:listarComprobanteRangoTotalResponse" />
    </operation>
    <operation name="listarComprobantePedidosTodos">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobantePedidosTodosRequest" message="tns:listarComprobantePedidosTodos" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobantePedidosTodosResponse" message="tns:listarComprobantePedidosTodosResponse" />
    </operation>
    <operation name="listarComprobanteRangoFecha">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteRangoFechaRequest" message="tns:listarComprobanteRangoFecha" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteRangoFechaResponse" message="tns:listarComprobanteRangoFechaResponse" />
    </operation>
    <operation name="listarComprobanteNumeroSerie">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteNumeroSerieRequest" message="tns:listarComprobanteNumeroSerie" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Comprobante/listarComprobanteNumeroSerieResponse" message="tns:listarComprobanteNumeroSerieResponse" />
    </operation>
  </portType>
  <binding name="ComprobantePortBinding" type="tns:Comprobante">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarComprobantePorTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComprobanteInactivo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComprobantePedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComprobanteUsuarioCreacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComprobanteRangoTotal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComprobantePedidosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComprobanteRangoFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComprobanteNumeroSerie">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Comprobante">
    <port name="ComprobantePort" binding="tns:ComprobantePortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Comprobante" />
    </port>
  </service>
</definitions>