SoftWA/Connected Services/ServiciosWSClient/Direccion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://usuario.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Direccion" targetNamespace="http://usuario.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Direccion?xsd=1" namespace="http://usuario.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarDireccion">
    <part name="parameters" element="tns:modificarDireccion" />
  </message>
  <message name="modificarDireccionResponse">
    <part name="parameters" element="tns:modificarDireccionResponse" />
  </message>
  <message name="insertarDireccion">
    <part name="parameters" element="tns:insertarDireccion" />
  </message>
  <message name="insertarDireccionResponse">
    <part name="parameters" element="tns:insertarDireccionResponse" />
  </message>
  <message name="eliminarDireccion">
    <part name="parameters" element="tns:eliminarDireccion" />
  </message>
  <message name="eliminarDireccionResponse">
    <part name="parameters" element="tns:eliminarDireccionResponse" />
  </message>
  <message name="listarTodosDireccion">
    <part name="parameters" element="tns:listarTodosDireccion" />
  </message>
  <message name="listarTodosDireccionResponse">
    <part name="parameters" element="tns:listarTodosDireccionResponse" />
  </message>
  <message name="obtenerPorIdDireccion">
    <part name="parameters" element="tns:obtenerPorIdDireccion" />
  </message>
  <message name="obtenerPorIdDireccionResponse">
    <part name="parameters" element="tns:obtenerPorIdDireccionResponse" />
  </message>
  <portType name="Direccion">
    <operation name="modificarDireccion">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/modificarDireccionRequest" message="tns:modificarDireccion" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/modificarDireccionResponse" message="tns:modificarDireccionResponse" />
    </operation>
    <operation name="insertarDireccion">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/insertarDireccionRequest" message="tns:insertarDireccion" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/insertarDireccionResponse" message="tns:insertarDireccionResponse" />
    </operation>
    <operation name="eliminarDireccion">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/eliminarDireccionRequest" message="tns:eliminarDireccion" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/eliminarDireccionResponse" message="tns:eliminarDireccionResponse" />
    </operation>
    <operation name="listarTodosDireccion">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/listarTodosDireccionRequest" message="tns:listarTodosDireccion" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/listarTodosDireccionResponse" message="tns:listarTodosDireccionResponse" />
    </operation>
    <operation name="obtenerPorIdDireccion">
      <input wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/obtenerPorIdDireccionRequest" message="tns:obtenerPorIdDireccion" />
      <output wsam:Action="http://usuario.services.softprog.pucp.edu.pe/Direccion/obtenerPorIdDireccionResponse" message="tns:obtenerPorIdDireccionResponse" />
    </operation>
  </portType>
  <binding name="DireccionPortBinding" type="tns:Direccion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarDireccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDireccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDireccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosDireccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdDireccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Direccion">
    <port name="DireccionPort" binding="tns:DireccionPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Direccion" />
    </port>
  </service>
</definitions>