SoftWA/Connected Services/ServiciosWSClient/Envio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarEnvio" type="tns:eliminarEnvio" />
  <xs:element name="eliminarEnvioResponse" type="tns:eliminarEnvioResponse" />
  <xs:element name="insertarEnvio" type="tns:insertarEnvio" />
  <xs:element name="insertarEnvioResponse" type="tns:insertarEnvioResponse" />
  <xs:element name="listarEnvioDireccion" type="tns:listarEnvioDireccion" />
  <xs:element name="listarEnvioDireccionResponse" type="tns:listarEnvioDireccionResponse" />
  <xs:element name="listarEnvioEntregados" type="tns:listarEnvioEntregados" />
  <xs:element name="listarEnvioEntregadosResponse" type="tns:listarEnvioEntregadosResponse" />
  <xs:element name="listarEnvioEstado" type="tns:listarEnvioEstado" />
  <xs:element name="listarEnvioEstadoResponse" type="tns:listarEnvioEstadoResponse" />
  <xs:element name="listarEnvioInactivos" type="tns:listarEnvioInactivos" />
  <xs:element name="listarEnvioInactivosResponse" type="tns:listarEnvioInactivosResponse" />
  <xs:element name="listarEnvioPedido" type="tns:listarEnvioPedido" />
  <xs:element name="listarEnvioPedidoResponse" type="tns:listarEnvioPedidoResponse" />
  <xs:element name="listarEnvioPendientes" type="tns:listarEnvioPendientes" />
  <xs:element name="listarEnvioPendientesResponse" type="tns:listarEnvioPendientesResponse" />
  <xs:element name="listarEnvioRangoFecha" type="tns:listarEnvioRangoFecha" />
  <xs:element name="listarEnvioRangoFechaCreacion" type="tns:listarEnvioRangoFechaCreacion" />
  <xs:element name="listarEnvioRangoFechaCreacionResponse" type="tns:listarEnvioRangoFechaCreacionResponse" />
  <xs:element name="listarEnvioRangoFechaResponse" type="tns:listarEnvioRangoFechaResponse" />
  <xs:element name="listarEnvioUsuarioCreacion" type="tns:listarEnvioUsuarioCreacion" />
  <xs:element name="listarEnvioUsuarioCreacionResponse" type="tns:listarEnvioUsuarioCreacionResponse" />
  <xs:element name="listarTodosEnvio" type="tns:listarTodosEnvio" />
  <xs:element name="listarTodosEnvioResponse" type="tns:listarTodosEnvioResponse" />
  <xs:element name="modificarEnvio" type="tns:modificarEnvio" />
  <xs:element name="modificarEnvioResponse" type="tns:modificarEnvioResponse" />
  <xs:element name="obtenerPorIdEnvio" type="tns:obtenerPorIdEnvio" />
  <xs:element name="obtenerPorIdEnvioResponse" type="tns:obtenerPorIdEnvioResponse" />
  <xs:complexType name="listarEnvioDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioDireccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="envioDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="tns:direccionDTO" />
      <xs:element minOccurs="0" name="estadoEnvio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaEntrega" type="xs:dateTime" />
      <xs:element name="idEnvio" type="xs:int" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="direccionDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="alias" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="personaId" type="tns:personaDTO" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="personaDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="direcciones" nillable="true" type="tns:direccionDTO" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="envio" type="tns:envioDTO" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaPedido" type="tns:localDateTime" />
      <xs:element name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:pedidoItemDTO" />
      <xs:element minOccurs="0" name="pago" type="tns:pagoDTO" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDTO" />
      <xs:element name="total" type="xs:double" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoItemDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idItemPedido" type="xs:int" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="preciosPorPresentaciones" nillable="true" type="tns:precioPresentacionDTO" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="precioPresentacionDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idPrecioPresentacion" type="xs:int" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="tipoMedida" type="tns:tipoMedida" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaPago" type="tns:localDateTime" />
      <xs:element name="idPago" type="xs:int" />
      <xs:element minOccurs="0" name="metodo" type="xs:string" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="envio" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEnvioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioEstado">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioEstadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosEnvio">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosEnvioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioUsuarioCreacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioUsuarioCreacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEnvio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdEnvioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="envio" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEnvioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedidoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioPendientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEnvioPendientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioInactivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEnvioInactivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioRangoFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioRangoFechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="envio" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEnvioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioRangoFechaCreacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioRangoFechaCreacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEnvioEntregados">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEnvioEntregadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:envioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DECENA" />
      <xs:enumeration value="DOCENA" />
      <xs:enumeration value="CENTENA" />
      <xs:enumeration value="MILLAR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>