SoftWA/Connected Services/ServiciosWSClient/ItemCarrito.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ItemCarrito" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/ItemCarrito?xsd=1" namespace="http://pedido.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarTodosItemCarrito">
    <part name="parameters" element="tns:listarTodosItemCarrito" />
  </message>
  <message name="listarTodosItemCarritoResponse">
    <part name="parameters" element="tns:listarTodosItemCarritoResponse" />
  </message>
  <message name="obtenerPorIdItemCarrito">
    <part name="parameters" element="tns:obtenerPorIdItemCarrito" />
  </message>
  <message name="obtenerPorIdItemCarritoResponse">
    <part name="parameters" element="tns:obtenerPorIdItemCarritoResponse" />
  </message>
  <message name="insertarItemCarrito">
    <part name="parameters" element="tns:insertarItemCarrito" />
  </message>
  <message name="insertarItemCarritoResponse">
    <part name="parameters" element="tns:insertarItemCarritoResponse" />
  </message>
  <message name="modificarItemCarrito">
    <part name="parameters" element="tns:modificarItemCarrito" />
  </message>
  <message name="modificarItemCarritoResponse">
    <part name="parameters" element="tns:modificarItemCarritoResponse" />
  </message>
  <message name="listarItemCarritoInactivo">
    <part name="parameters" element="tns:listarItemCarritoInactivo" />
  </message>
  <message name="listarItemCarritoInactivoResponse">
    <part name="parameters" element="tns:listarItemCarritoInactivoResponse" />
  </message>
  <message name="eliminarItemCarrito">
    <part name="parameters" element="tns:eliminarItemCarrito" />
  </message>
  <message name="eliminarItemCarritoResponse">
    <part name="parameters" element="tns:eliminarItemCarritoResponse" />
  </message>
  <message name="listarItemCarritoPorCarritoYProducto">
    <part name="parameters" element="tns:listarItemCarritoPorCarritoYProducto" />
  </message>
  <message name="listarItemCarritoPorCarritoYProductoResponse">
    <part name="parameters" element="tns:listarItemCarritoPorCarritoYProductoResponse" />
  </message>
  <message name="listarItemCarritoPorProducto">
    <part name="parameters" element="tns:listarItemCarritoPorProducto" />
  </message>
  <message name="listarItemCarritoPorProductoResponse">
    <part name="parameters" element="tns:listarItemCarritoPorProductoResponse" />
  </message>
  <message name="listarItemCarritoCantidadMinima">
    <part name="parameters" element="tns:listarItemCarritoCantidadMinima" />
  </message>
  <message name="listarItemCarritoCantidadMinimaResponse">
    <part name="parameters" element="tns:listarItemCarritoCantidadMinimaResponse" />
  </message>
  <message name="listarItemCarritoRangoCantidad">
    <part name="parameters" element="tns:listarItemCarritoRangoCantidad" />
  </message>
  <message name="listarItemCarritoRangoCantidadResponse">
    <part name="parameters" element="tns:listarItemCarritoRangoCantidadResponse" />
  </message>
  <message name="listarItemCarritoRangoSubTotal">
    <part name="parameters" element="tns:listarItemCarritoRangoSubTotal" />
  </message>
  <message name="listarItemCarritoRangoSubTotalResponse">
    <part name="parameters" element="tns:listarItemCarritoRangoSubTotalResponse" />
  </message>
  <message name="listarItemCarritoFechaCreacion">
    <part name="parameters" element="tns:listarItemCarritoFechaCreacion" />
  </message>
  <message name="listarItemCarritoFechaCreacionResponse">
    <part name="parameters" element="tns:listarItemCarritoFechaCreacionResponse" />
  </message>
  <portType name="ItemCarrito">
    <operation name="listarTodosItemCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarTodosItemCarritoRequest" message="tns:listarTodosItemCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarTodosItemCarritoResponse" message="tns:listarTodosItemCarritoResponse" />
    </operation>
    <operation name="obtenerPorIdItemCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/obtenerPorIdItemCarritoRequest" message="tns:obtenerPorIdItemCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/obtenerPorIdItemCarritoResponse" message="tns:obtenerPorIdItemCarritoResponse" />
    </operation>
    <operation name="insertarItemCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/insertarItemCarritoRequest" message="tns:insertarItemCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/insertarItemCarritoResponse" message="tns:insertarItemCarritoResponse" />
    </operation>
    <operation name="modificarItemCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/modificarItemCarritoRequest" message="tns:modificarItemCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/modificarItemCarritoResponse" message="tns:modificarItemCarritoResponse" />
    </operation>
    <operation name="listarItemCarritoInactivo">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoInactivoRequest" message="tns:listarItemCarritoInactivo" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoInactivoResponse" message="tns:listarItemCarritoInactivoResponse" />
    </operation>
    <operation name="eliminarItemCarrito">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/eliminarItemCarritoRequest" message="tns:eliminarItemCarrito" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/eliminarItemCarritoResponse" message="tns:eliminarItemCarritoResponse" />
    </operation>
    <operation name="listarItemCarritoPorCarritoYProducto">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoPorCarritoYProductoRequest" message="tns:listarItemCarritoPorCarritoYProducto" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoPorCarritoYProductoResponse" message="tns:listarItemCarritoPorCarritoYProductoResponse" />
    </operation>
    <operation name="listarItemCarritoPorProducto">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoPorProductoRequest" message="tns:listarItemCarritoPorProducto" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoPorProductoResponse" message="tns:listarItemCarritoPorProductoResponse" />
    </operation>
    <operation name="listarItemCarritoCantidadMinima">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoCantidadMinimaRequest" message="tns:listarItemCarritoCantidadMinima" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoCantidadMinimaResponse" message="tns:listarItemCarritoCantidadMinimaResponse" />
    </operation>
    <operation name="listarItemCarritoRangoCantidad">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoRangoCantidadRequest" message="tns:listarItemCarritoRangoCantidad" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoRangoCantidadResponse" message="tns:listarItemCarritoRangoCantidadResponse" />
    </operation>
    <operation name="listarItemCarritoRangoSubTotal">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoRangoSubTotalRequest" message="tns:listarItemCarritoRangoSubTotal" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoRangoSubTotalResponse" message="tns:listarItemCarritoRangoSubTotalResponse" />
    </operation>
    <operation name="listarItemCarritoFechaCreacion">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoFechaCreacionRequest" message="tns:listarItemCarritoFechaCreacion" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/ItemCarrito/listarItemCarritoFechaCreacionResponse" message="tns:listarItemCarritoFechaCreacionResponse" />
    </operation>
  </portType>
  <binding name="ItemCarritoPortBinding" type="tns:ItemCarrito">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosItemCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdItemCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarItemCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarItemCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarItemCarritoInactivo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarItemCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarItemCarritoPorCarritoYProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarItemCarritoPorProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarItemCarritoCantidadMinima">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarItemCarritoRangoCantidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarItemCarritoRangoSubTotal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarItemCarritoFechaCreacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ItemCarrito">
    <port name="ItemCarritoPort" binding="tns:ItemCarritoPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/ItemCarrito" />
    </port>
  </service>
</definitions>