SoftWA/Connected Services/ServiciosWSClient/Pago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Pago" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Pago?xsd=1" namespace="http://pedido.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPagoPorPedidosTodos">
    <part name="parameters" element="tns:listarPagoPorPedidosTodos" />
  </message>
  <message name="listarPagoPorPedidosTodosResponse">
    <part name="parameters" element="tns:listarPagoPorPedidosTodosResponse" />
  </message>
  <message name="listarPagoPorMontoMinimo">
    <part name="parameters" element="tns:listarPagoPorMontoMinimo" />
  </message>
  <message name="listarPagoPorMontoMinimoResponse">
    <part name="parameters" element="tns:listarPagoPorMontoMinimoResponse" />
  </message>
  <message name="listarPagoRangoFechaPago">
    <part name="parameters" element="tns:listarPagoRangoFechaPago" />
  </message>
  <message name="listarPagoRangoFechaPagoResponse">
    <part name="parameters" element="tns:listarPagoRangoFechaPagoResponse" />
  </message>
  <message name="listarPagoPorPedido">
    <part name="parameters" element="tns:listarPagoPorPedido" />
  </message>
  <message name="listarPagoPorPedidoResponse">
    <part name="parameters" element="tns:listarPagoPorPedidoResponse" />
  </message>
  <message name="listarPagoPorEstadoYFecha">
    <part name="parameters" element="tns:listarPagoPorEstadoYFecha" />
  </message>
  <message name="listarPagoPorEstadoYFechaResponse">
    <part name="parameters" element="tns:listarPagoPorEstadoYFechaResponse" />
  </message>
  <message name="listarPagoPorRangoMonto">
    <part name="parameters" element="tns:listarPagoPorRangoMonto" />
  </message>
  <message name="listarPagoPorRangoMontoResponse">
    <part name="parameters" element="tns:listarPagoPorRangoMontoResponse" />
  </message>
  <message name="listarPagoPorUsuarioCreacion">
    <part name="parameters" element="tns:listarPagoPorUsuarioCreacion" />
  </message>
  <message name="listarPagoPorUsuarioCreacionResponse">
    <part name="parameters" element="tns:listarPagoPorUsuarioCreacionResponse" />
  </message>
  <message name="listarPagoInactivo">
    <part name="parameters" element="tns:listarPagoInactivo" />
  </message>
  <message name="listarPagoInactivoResponse">
    <part name="parameters" element="tns:listarPagoInactivoResponse" />
  </message>
  <message name="obtenerPorIdPago">
    <part name="parameters" element="tns:obtenerPorIdPago" />
  </message>
  <message name="obtenerPorIdPagoResponse">
    <part name="parameters" element="tns:obtenerPorIdPagoResponse" />
  </message>
  <message name="listarTodosPago">
    <part name="parameters" element="tns:listarTodosPago" />
  </message>
  <message name="listarTodosPagoResponse">
    <part name="parameters" element="tns:listarTodosPagoResponse" />
  </message>
  <message name="eliminarPago">
    <part name="parameters" element="tns:eliminarPago" />
  </message>
  <message name="eliminarPagoResponse">
    <part name="parameters" element="tns:eliminarPagoResponse" />
  </message>
  <message name="modificarPago">
    <part name="parameters" element="tns:modificarPago" />
  </message>
  <message name="modificarPagoResponse">
    <part name="parameters" element="tns:modificarPagoResponse" />
  </message>
  <message name="insertarPago">
    <part name="parameters" element="tns:insertarPago" />
  </message>
  <message name="insertarPagoResponse">
    <part name="parameters" element="tns:insertarPagoResponse" />
  </message>
  <portType name="Pago">
    <operation name="listarPagoPorPedidosTodos">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorPedidosTodosRequest" message="tns:listarPagoPorPedidosTodos" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorPedidosTodosResponse" message="tns:listarPagoPorPedidosTodosResponse" />
    </operation>
    <operation name="listarPagoPorMontoMinimo">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorMontoMinimoRequest" message="tns:listarPagoPorMontoMinimo" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorMontoMinimoResponse" message="tns:listarPagoPorMontoMinimoResponse" />
    </operation>
    <operation name="listarPagoRangoFechaPago">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoRangoFechaPagoRequest" message="tns:listarPagoRangoFechaPago" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoRangoFechaPagoResponse" message="tns:listarPagoRangoFechaPagoResponse" />
    </operation>
    <operation name="listarPagoPorPedido">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorPedidoRequest" message="tns:listarPagoPorPedido" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorPedidoResponse" message="tns:listarPagoPorPedidoResponse" />
    </operation>
    <operation name="listarPagoPorEstadoYFecha">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorEstadoYFechaRequest" message="tns:listarPagoPorEstadoYFecha" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorEstadoYFechaResponse" message="tns:listarPagoPorEstadoYFechaResponse" />
    </operation>
    <operation name="listarPagoPorRangoMonto">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorRangoMontoRequest" message="tns:listarPagoPorRangoMonto" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorRangoMontoResponse" message="tns:listarPagoPorRangoMontoResponse" />
    </operation>
    <operation name="listarPagoPorUsuarioCreacion">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorUsuarioCreacionRequest" message="tns:listarPagoPorUsuarioCreacion" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoPorUsuarioCreacionResponse" message="tns:listarPagoPorUsuarioCreacionResponse" />
    </operation>
    <operation name="listarPagoInactivo">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoInactivoRequest" message="tns:listarPagoInactivo" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarPagoInactivoResponse" message="tns:listarPagoInactivoResponse" />
    </operation>
    <operation name="obtenerPorIdPago">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/obtenerPorIdPagoRequest" message="tns:obtenerPorIdPago" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/obtenerPorIdPagoResponse" message="tns:obtenerPorIdPagoResponse" />
    </operation>
    <operation name="listarTodosPago">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarTodosPagoRequest" message="tns:listarTodosPago" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/listarTodosPagoResponse" message="tns:listarTodosPagoResponse" />
    </operation>
    <operation name="eliminarPago">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/eliminarPagoRequest" message="tns:eliminarPago" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/eliminarPagoResponse" message="tns:eliminarPagoResponse" />
    </operation>
    <operation name="modificarPago">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/modificarPagoRequest" message="tns:modificarPago" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/modificarPagoResponse" message="tns:modificarPagoResponse" />
    </operation>
    <operation name="insertarPago">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/insertarPagoRequest" message="tns:insertarPago" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pago/insertarPagoResponse" message="tns:insertarPagoResponse" />
    </operation>
  </portType>
  <binding name="PagoPortBinding" type="tns:Pago">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPagoPorPedidosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagoPorMontoMinimo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagoRangoFechaPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagoPorPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagoPorEstadoYFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagoPorRangoMonto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagoPorUsuarioCreacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagoInactivo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pago">
    <port name="PagoPort" binding="tns:PagoPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Pago" />
    </port>
  </service>
</definitions>