SoftWA/Connected Services/ServiciosWSClient/PedidoItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPedidoItem" type="tns:eliminarPedidoItem" />
  <xs:element name="eliminarPedidoItemResponse" type="tns:eliminarPedidoItemResponse" />
  <xs:element name="insertarPedidoItem" type="tns:insertarPedidoItem" />
  <xs:element name="insertarPedidoItemResponse" type="tns:insertarPedidoItemResponse" />
  <xs:element name="listarPedidoItemPorPedido" type="tns:listarPedidoItemPorPedido" />
  <xs:element name="listarPedidoItemPorPedidoResponse" type="tns:listarPedidoItemPorPedidoResponse" />
  <xs:element name="listarPedidoItemPorPedidoTodos" type="tns:listarPedidoItemPorPedidoTodos" />
  <xs:element name="listarPedidoItemPorPedidoTodosResponse" type="tns:listarPedidoItemPorPedidoTodosResponse" />
  <xs:element name="listarPedidoItemPorPedidoYProducto" type="tns:listarPedidoItemPorPedidoYProducto" />
  <xs:element name="listarPedidoItemPorPedidoYProductoResponse" type="tns:listarPedidoItemPorPedidoYProductoResponse" />
  <xs:element name="listarPedidoItemPorProductoTodos" type="tns:listarPedidoItemPorProductoTodos" />
  <xs:element name="listarPedidoItemPorProductoTodosResponse" type="tns:listarPedidoItemPorProductoTodosResponse" />
  <xs:element name="listarPedidoItemPorRangoCantidad" type="tns:listarPedidoItemPorRangoCantidad" />
  <xs:element name="listarPedidoItemPorRangoCantidadResponse" type="tns:listarPedidoItemPorRangoCantidadResponse" />
  <xs:element name="listarPedidoItemPorRangoPrecio" type="tns:listarPedidoItemPorRangoPrecio" />
  <xs:element name="listarPedidoItemPorRangoPrecioResponse" type="tns:listarPedidoItemPorRangoPrecioResponse" />
  <xs:element name="listarPedidoItemPorUsuarioCreacion" type="tns:listarPedidoItemPorUsuarioCreacion" />
  <xs:element name="listarPedidoItemPorUsuarioCreacionResponse" type="tns:listarPedidoItemPorUsuarioCreacionResponse" />
  <xs:element name="listarTodosPedidoItem" type="tns:listarTodosPedidoItem" />
  <xs:element name="listarTodosPedidoItemResponse" type="tns:listarTodosPedidoItemResponse" />
  <xs:element name="modificarPedidoItem" type="tns:modificarPedidoItem" />
  <xs:element name="modificarPedidoItemResponse" type="tns:modificarPedidoItemResponse" />
  <xs:element name="obtenerPorIdPedidoItem" type="tns:obtenerPorIdPedidoItem" />
  <xs:element name="obtenerPorIdPedidoItemResponse" type="tns:obtenerPorIdPedidoItemResponse" />
  <xs:complexType name="insertarPedidoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedidoItem" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoItemDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idItemPedido" type="xs:int" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="pedidoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="envio" type="tns:envioDTO" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaPedido" type="tns:localDateTime" />
      <xs:element name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:pedidoItemDTO" />
      <xs:element minOccurs="0" name="pago" type="tns:pagoDTO" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDTO" />
      <xs:element name="total" type="xs:double" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="envioDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="tns:direccionDTO" />
      <xs:element minOccurs="0" name="estadoEnvio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaEntrega" type="xs:dateTime" />
      <xs:element name="idEnvio" type="xs:int" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="direccionDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="alias" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="personaId" type="tns:personaDTO" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="direcciones" nillable="true" type="tns:direccionDTO" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaPago" type="tns:localDateTime" />
      <xs:element name="idPago" type="xs:int" />
      <xs:element minOccurs="0" name="metodo" type="xs:string" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="preciosPorPresentaciones" nillable="true" type="tns:precioPresentacionDTO" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="precioPresentacionDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:localDateTime" />
      <xs:element name="idPrecioPresentacion" type="xs:int" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="tipoMedida" type="tns:tipoMedida" />
      <xs:element minOccurs="0" name="usuarioActualizacion" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPedidoItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorProductoTodos">
    <xs:sequence>
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorProductoTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorPedidoTodos">
    <xs:sequence>
      <xs:element name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorPedidoTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorPedido">
    <xs:sequence>
      <xs:element name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPedidoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedidoItem" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPedidoItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorRangoCantidad">
    <xs:sequence>
      <xs:element name="min" type="xs:int" />
      <xs:element name="max" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorRangoCantidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorUsuarioCreacion">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorUsuarioCreacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPedidoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedidoItem" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPedidoItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorPedidoYProducto">
    <xs:sequence>
      <xs:element name="idPedido" type="xs:int" />
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorPedidoYProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorRangoPrecio">
    <xs:sequence>
      <xs:element name="min" type="xs:double" />
      <xs:element name="max" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPedidoItemPorRangoPrecioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPedidoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPedidoItem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPedidoItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosPedidoItem">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosPedidoItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DECENA" />
      <xs:enumeration value="DOCENA" />
      <xs:enumeration value="CENTENA" />
      <xs:enumeration value="MILLAR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>