SoftWA/Connected Services/ServiciosWSClient/Pedido.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pedido.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Pedido" targetNamespace="http://pedido.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Pedido?xsd=1" namespace="http://pedido.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPedidoPorUsuarioCreacion">
    <part name="parameters" element="tns:listarPedidoPorUsuarioCreacion" />
  </message>
  <message name="listarPedidoPorUsuarioCreacionResponse">
    <part name="parameters" element="tns:listarPedidoPorUsuarioCreacionResponse" />
  </message>
  <message name="listarPedidoPorEstadoYFecha">
    <part name="parameters" element="tns:listarPedidoPorEstadoYFecha" />
  </message>
  <message name="listarPedidoPorEstadoYFechaResponse">
    <part name="parameters" element="tns:listarPedidoPorEstadoYFechaResponse" />
  </message>
  <message name="listarPedidoPorPersonaYEstado">
    <part name="parameters" element="tns:listarPedidoPorPersonaYEstado" />
  </message>
  <message name="listarPedidoPorPersonaYEstadoResponse">
    <part name="parameters" element="tns:listarPedidoPorPersonaYEstadoResponse" />
  </message>
  <message name="insertarPedido">
    <part name="parameters" element="tns:insertarPedido" />
  </message>
  <message name="insertarPedidoResponse">
    <part name="parameters" element="tns:insertarPedidoResponse" />
  </message>
  <message name="listarTodosPedido">
    <part name="parameters" element="tns:listarTodosPedido" />
  </message>
  <message name="listarTodosPedidoResponse">
    <part name="parameters" element="tns:listarTodosPedidoResponse" />
  </message>
  <message name="modificarPedido">
    <part name="parameters" element="tns:modificarPedido" />
  </message>
  <message name="modificarPedidoResponse">
    <part name="parameters" element="tns:modificarPedidoResponse" />
  </message>
  <message name="eliminarPedido">
    <part name="parameters" element="tns:eliminarPedido" />
  </message>
  <message name="eliminarPedidoResponse">
    <part name="parameters" element="tns:eliminarPedidoResponse" />
  </message>
  <message name="obtenerPorIdPedido">
    <part name="parameters" element="tns:obtenerPorIdPedido" />
  </message>
  <message name="obtenerPorIdPedidoResponse">
    <part name="parameters" element="tns:obtenerPorIdPedidoResponse" />
  </message>
  <message name="listarPedidoInactivo">
    <part name="parameters" element="tns:listarPedidoInactivo" />
  </message>
  <message name="listarPedidoInactivoResponse">
    <part name="parameters" element="tns:listarPedidoInactivoResponse" />
  </message>
  <message name="listarPedidoPorPersona">
    <part name="parameters" element="tns:listarPedidoPorPersona" />
  </message>
  <message name="listarPedidoPorPersonaResponse">
    <part name="parameters" element="tns:listarPedidoPorPersonaResponse" />
  </message>
  <message name="listarPedidoPorRangoTotal">
    <part name="parameters" element="tns:listarPedidoPorRangoTotal" />
  </message>
  <message name="listarPedidoPorRangoTotalResponse">
    <part name="parameters" element="tns:listarPedidoPorRangoTotalResponse" />
  </message>
  <message name="listarPedidoPorEstado">
    <part name="parameters" element="tns:listarPedidoPorEstado" />
  </message>
  <message name="listarPedidoPorEstadoResponse">
    <part name="parameters" element="tns:listarPedidoPorEstadoResponse" />
  </message>
  <message name="listarPedidoPorFecha">
    <part name="parameters" element="tns:listarPedidoPorFecha" />
  </message>
  <message name="listarPedidoPorFechaResponse">
    <part name="parameters" element="tns:listarPedidoPorFechaResponse" />
  </message>
  <portType name="Pedido">
    <operation name="listarPedidoPorUsuarioCreacion">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorUsuarioCreacionRequest" message="tns:listarPedidoPorUsuarioCreacion" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorUsuarioCreacionResponse" message="tns:listarPedidoPorUsuarioCreacionResponse" />
    </operation>
    <operation name="listarPedidoPorEstadoYFecha">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorEstadoYFechaRequest" message="tns:listarPedidoPorEstadoYFecha" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorEstadoYFechaResponse" message="tns:listarPedidoPorEstadoYFechaResponse" />
    </operation>
    <operation name="listarPedidoPorPersonaYEstado">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorPersonaYEstadoRequest" message="tns:listarPedidoPorPersonaYEstado" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorPersonaYEstadoResponse" message="tns:listarPedidoPorPersonaYEstadoResponse" />
    </operation>
    <operation name="insertarPedido">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/insertarPedidoRequest" message="tns:insertarPedido" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/insertarPedidoResponse" message="tns:insertarPedidoResponse" />
    </operation>
    <operation name="listarTodosPedido">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarTodosPedidoRequest" message="tns:listarTodosPedido" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarTodosPedidoResponse" message="tns:listarTodosPedidoResponse" />
    </operation>
    <operation name="modificarPedido">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/modificarPedidoRequest" message="tns:modificarPedido" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/modificarPedidoResponse" message="tns:modificarPedidoResponse" />
    </operation>
    <operation name="eliminarPedido">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/eliminarPedidoRequest" message="tns:eliminarPedido" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/eliminarPedidoResponse" message="tns:eliminarPedidoResponse" />
    </operation>
    <operation name="obtenerPorIdPedido">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/obtenerPorIdPedidoRequest" message="tns:obtenerPorIdPedido" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/obtenerPorIdPedidoResponse" message="tns:obtenerPorIdPedidoResponse" />
    </operation>
    <operation name="listarPedidoInactivo">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoInactivoRequest" message="tns:listarPedidoInactivo" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoInactivoResponse" message="tns:listarPedidoInactivoResponse" />
    </operation>
    <operation name="listarPedidoPorPersona">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorPersonaRequest" message="tns:listarPedidoPorPersona" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorPersonaResponse" message="tns:listarPedidoPorPersonaResponse" />
    </operation>
    <operation name="listarPedidoPorRangoTotal">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorRangoTotalRequest" message="tns:listarPedidoPorRangoTotal" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorRangoTotalResponse" message="tns:listarPedidoPorRangoTotalResponse" />
    </operation>
    <operation name="listarPedidoPorEstado">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorEstadoRequest" message="tns:listarPedidoPorEstado" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorEstadoResponse" message="tns:listarPedidoPorEstadoResponse" />
    </operation>
    <operation name="listarPedidoPorFecha">
      <input wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorFechaRequest" message="tns:listarPedidoPorFecha" />
      <output wsam:Action="http://pedido.services.softprog.pucp.edu.pe/Pedido/listarPedidoPorFechaResponse" message="tns:listarPedidoPorFechaResponse" />
    </operation>
  </portType>
  <binding name="PedidoPortBinding" type="tns:Pedido">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPedidoPorUsuarioCreacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidoPorEstadoYFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidoPorPersonaYEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidoInactivo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidoPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidoPorRangoTotal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidoPorEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidoPorFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pedido">
    <port name="PedidoPort" binding="tns:PedidoPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Pedido" />
    </port>
  </service>
</definitions>