SoftWA/Connected Services/ServiciosWSClient/Productos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://producto.services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Productos" targetNamespace="http://producto.services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/Productos?xsd=1" namespace="http://producto.services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarProducto">
    <part name="parameters" element="tns:modificarProducto" />
  </message>
  <message name="modificarProductoResponse">
    <part name="parameters" element="tns:modificarProductoResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="listarProductosPorRangoFechaCreacion">
    <part name="parameters" element="tns:listarProductosPorRangoFechaCreacion" />
  </message>
  <message name="listarProductosPorRangoFechaCreacionResponse">
    <part name="parameters" element="tns:listarProductosPorRangoFechaCreacionResponse" />
  </message>
  <message name="listarProductosPorDescripcionParcial">
    <part name="parameters" element="tns:listarProductosPorDescripcionParcial" />
  </message>
  <message name="listarProductosPorDescripcionParcialResponse">
    <part name="parameters" element="tns:listarProductosPorDescripcionParcialResponse" />
  </message>
  <message name="listarProductosPorNombreYPrecioMaximo">
    <part name="parameters" element="tns:listarProductosPorNombreYPrecioMaximo" />
  </message>
  <message name="listarProductosPorNombreYPrecioMaximoResponse">
    <part name="parameters" element="tns:listarProductosPorNombreYPrecioMaximoResponse" />
  </message>
  <message name="listarProductosPorRangoStock">
    <part name="parameters" element="tns:listarProductosPorRangoStock" />
  </message>
  <message name="listarProductosPorRangoStockResponse">
    <part name="parameters" element="tns:listarProductosPorRangoStockResponse" />
  </message>
  <message name="listarProductosPorRangoPrecio">
    <part name="parameters" element="tns:listarProductosPorRangoPrecio" />
  </message>
  <message name="listarProductosPorRangoPrecioResponse">
    <part name="parameters" element="tns:listarProductosPorRangoPrecioResponse" />
  </message>
  <message name="listarProductosPorStockMinimo">
    <part name="parameters" element="tns:listarProductosPorStockMinimo" />
  </message>
  <message name="listarProductosPorStockMinimoResponse">
    <part name="parameters" element="tns:listarProductosPorStockMinimoResponse" />
  </message>
  <message name="listarProductosPorUsuarioCreacion">
    <part name="parameters" element="tns:listarProductosPorUsuarioCreacion" />
  </message>
  <message name="listarProductosPorUsuarioCreacionResponse">
    <part name="parameters" element="tns:listarProductosPorUsuarioCreacionResponse" />
  </message>
  <message name="listarProductosPorCategoria">
    <part name="parameters" element="tns:listarProductosPorCategoria" />
  </message>
  <message name="listarProductosPorCategoriaResponse">
    <part name="parameters" element="tns:listarProductosPorCategoriaResponse" />
  </message>
  <message name="obtenerPorIdProducto">
    <part name="parameters" element="tns:obtenerPorIdProducto" />
  </message>
  <message name="obtenerPorIdProductoResponse">
    <part name="parameters" element="tns:obtenerPorIdProductoResponse" />
  </message>
  <message name="listarTodosProducto">
    <part name="parameters" element="tns:listarTodosProducto" />
  </message>
  <message name="listarTodosProductoResponse">
    <part name="parameters" element="tns:listarTodosProductoResponse" />
  </message>
  <message name="listarProductosPorNombre">
    <part name="parameters" element="tns:listarProductosPorNombre" />
  </message>
  <message name="listarProductosPorNombreResponse">
    <part name="parameters" element="tns:listarProductosPorNombreResponse" />
  </message>
  <message name="listarProductosPaginado">
    <part name="parameters" element="tns:listarProductosPaginado" />
  </message>
  <message name="listarProductosPaginadoResponse">
    <part name="parameters" element="tns:listarProductosPaginadoResponse" />
  </message>
  <message name="listarProductosSinStock">
    <part name="parameters" element="tns:listarProductosSinStock" />
  </message>
  <message name="listarProductosSinStockResponse">
    <part name="parameters" element="tns:listarProductosSinStockResponse" />
  </message>
  <message name="actualizarStockProducto">
    <part name="parameters" element="tns:actualizarStockProducto" />
  </message>
  <message name="actualizarStockProductoResponse">
    <part name="parameters" element="tns:actualizarStockProductoResponse" />
  </message>
  <message name="listarProductosInactivos">
    <part name="parameters" element="tns:listarProductosInactivos" />
  </message>
  <message name="listarProductosInactivosResponse">
    <part name="parameters" element="tns:listarProductosInactivosResponse" />
  </message>
  <portType name="Productos">
    <operation name="modificarProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/modificarProductoRequest" message="tns:modificarProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/modificarProductoResponse" message="tns:modificarProductoResponse" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
    <operation name="insertarProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="listarProductosPorRangoFechaCreacion">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorRangoFechaCreacionRequest" message="tns:listarProductosPorRangoFechaCreacion" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorRangoFechaCreacionResponse" message="tns:listarProductosPorRangoFechaCreacionResponse" />
    </operation>
    <operation name="listarProductosPorDescripcionParcial">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorDescripcionParcialRequest" message="tns:listarProductosPorDescripcionParcial" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorDescripcionParcialResponse" message="tns:listarProductosPorDescripcionParcialResponse" />
    </operation>
    <operation name="listarProductosPorNombreYPrecioMaximo">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorNombreYPrecioMaximoRequest" message="tns:listarProductosPorNombreYPrecioMaximo" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorNombreYPrecioMaximoResponse" message="tns:listarProductosPorNombreYPrecioMaximoResponse" />
    </operation>
    <operation name="listarProductosPorRangoStock">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorRangoStockRequest" message="tns:listarProductosPorRangoStock" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorRangoStockResponse" message="tns:listarProductosPorRangoStockResponse" />
    </operation>
    <operation name="listarProductosPorRangoPrecio">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorRangoPrecioRequest" message="tns:listarProductosPorRangoPrecio" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorRangoPrecioResponse" message="tns:listarProductosPorRangoPrecioResponse" />
    </operation>
    <operation name="listarProductosPorStockMinimo">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorStockMinimoRequest" message="tns:listarProductosPorStockMinimo" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorStockMinimoResponse" message="tns:listarProductosPorStockMinimoResponse" />
    </operation>
    <operation name="listarProductosPorUsuarioCreacion">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorUsuarioCreacionRequest" message="tns:listarProductosPorUsuarioCreacion" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorUsuarioCreacionResponse" message="tns:listarProductosPorUsuarioCreacionResponse" />
    </operation>
    <operation name="listarProductosPorCategoria">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorCategoriaRequest" message="tns:listarProductosPorCategoria" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorCategoriaResponse" message="tns:listarProductosPorCategoriaResponse" />
    </operation>
    <operation name="obtenerPorIdProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/obtenerPorIdProductoRequest" message="tns:obtenerPorIdProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/obtenerPorIdProductoResponse" message="tns:obtenerPorIdProductoResponse" />
    </operation>
    <operation name="listarTodosProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarTodosProductoRequest" message="tns:listarTodosProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarTodosProductoResponse" message="tns:listarTodosProductoResponse" />
    </operation>
    <operation name="listarProductosPorNombre">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorNombreRequest" message="tns:listarProductosPorNombre" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPorNombreResponse" message="tns:listarProductosPorNombreResponse" />
    </operation>
    <operation name="listarProductosPaginado">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPaginadoRequest" message="tns:listarProductosPaginado" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosPaginadoResponse" message="tns:listarProductosPaginadoResponse" />
    </operation>
    <operation name="listarProductosSinStock">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosSinStockRequest" message="tns:listarProductosSinStock" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosSinStockResponse" message="tns:listarProductosSinStockResponse" />
    </operation>
    <operation name="actualizarStockProducto">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/actualizarStockProductoRequest" message="tns:actualizarStockProducto" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/actualizarStockProductoResponse" message="tns:actualizarStockProductoResponse" />
    </operation>
    <operation name="listarProductosInactivos">
      <input wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosInactivosRequest" message="tns:listarProductosInactivos" />
      <output wsam:Action="http://producto.services.softprog.pucp.edu.pe/Productos/listarProductosInactivosResponse" message="tns:listarProductosInactivosResponse" />
    </operation>
  </portType>
  <binding name="ProductosPortBinding" type="tns:Productos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorRangoFechaCreacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorDescripcionParcial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorNombreYPrecioMaximo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorRangoStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorRangoPrecio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorStockMinimo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorUsuarioCreacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPaginado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosSinStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarStockProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosInactivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Productos">
    <port name="ProductosPort" binding="tns:ProductosPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/Productos" />
    </port>
  </service>
</definitions>