SoftWA/Connected Services/ServiciosWSClient/Rol.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usuario.services.softprog.pucp.edu.pe/" targetNamespace="http://usuario.services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarRol" type="tns:eliminarRol" />
  <xs:element name="eliminarRolResponse" type="tns:eliminarRolResponse" />
  <xs:element name="insertarRol" type="tns:insertarRol" />
  <xs:element name="insertarRolResponse" type="tns:insertarRolResponse" />
  <xs:element name="listarTodosRoles" type="tns:listarTodosRoles" />
  <xs:element name="listarTodosRolesResponse" type="tns:listarTodosRolesResponse" />
  <xs:element name="modificarRol" type="tns:modificarRol" />
  <xs:element name="modificarRolResponse" type="tns:modificarRolResponse" />
  <xs:element name="obtenerPorIdRol" type="tns:obtenerPorIdRol" />
  <xs:element name="obtenerPorIdRolResponse" type="tns:obtenerPorIdRolResponse" />
  <xs:complexType name="eliminarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosRoles">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosRolesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rolId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>